page-registro {

    .botao{
        border-radius: 30px !important;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .ion-item{
        border-radius: 30px !important;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding: 10px !important;
    }

}
